
body {
  font-family: Arial;
  padding: 10px;
  background: white;
}

/* Header/Blog Title */
.header {  
    width: 80%;
  padding: 10px;
  margin-left: 10%;
  border-bottom: 1px solid;
  font-size: 20px;
  text-align: left;
  display: table;
  background: white;
}

#title { 
    padding-left: 30px;
}

.bold {
    font-weight: bold;
}

.center-text {
    line-height: 40px;
    vertical-align: middle;
    float: left;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

#explore {
    padding-right: 10px;
    border-right: 1px solid;
}

#current-user-link {
    padding-left: 10px;
}


.header-link {
    float: right;
}


.content {
    display: flex;
    justify-content: center;
}


.top-icon {
    float: left;
    height: 40px;
    padding-right: 10px;
    border-right: 1px solid;
}

.postCol { 
width:400px;
  float: left;
}

.aboutCol {
width:1000px;
  float: left;

}
.post-info {
    height: 40px;
    padding: 10px;
}

.releasedTime {
    padding-top: 25px;
    float: right;
}



.name {
    padding-left: 10px;
}


a {
    text-decoration: none;
    color: black;
}



.post {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.solidBorder {
    border: 2px solid;
}


img {
    max-width: 100%;
    max-height: 100%;
}
